<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="db" connectionString="server=MSTV-SHGUAN-04;database=northwnd;uid=sa;pwd=sa" providerName="System.Data.SqlClient"/>-->
    <add name="db" connectionString="server=PC\SQLEXPRESS;database=TravelDB;integrated security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>