<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="IsCascadeDelete" value="true"/>
        <add key="IsCascadeUpdate" value="true"/>
        <add key="IsAddFK" value="1"/>
        <!--1 is add ,0 is delete-->
    </appSettings>
    <connectionStrings>
        <add name="TravelDBContext" connectionString="data source=(localdb)\v11.0;initial catalog=TravelDB;integrated security=True;" />
        <!--<add name="TravelDBContext" connectionString="metadata=res://*/TravelDB.csdl|res://*/TravelDB.ssdl|res://*/TravelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSTV-SHGUAN-04;initial catalog=TravelDB;uid=sa;pwd=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>