<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IsCascadeDelete" value="true"/>
    <add key="IsCascadeUpdate" value="true"/>
    <add key="IsAddFK" value="1"/>
    <!--1 is add ,0 is delete-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>